<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="./views/dependencies/bootstrap.css" />
    <script defer src="./views/dependencies/jquery.js"></script>
    <script defer src="./views/dependencies/bootstrap.min.js"></script>
    <script defer src="./views/dependencies/uuid.js"></script>
    <script defer src="./views/config.js"></script>
    <script defer src="./views/setUpLoginButton.js"></script>
  </head>

  <body>
    <nav class="navbar navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        <img src="./views/assets/logo/awesome-logo.svg" width="30" height="30" alt="" />
      </a>
    </nav>

    <div class="container d-flex d-flex flex-column align-items-center justify-content-center">
      <img class="img-fluid" style="max-height: 500px" src="./views/assets/logo/default.png" alt="app logo" />
      <a id="login-link" class="img-fluid m-0">
        <img src="./views/assets/dotwallet-login.png" alt="dotwallet-login" />
      </a>
    </div>
  </body>
</html>
